
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Fan
{% endblock %}

{% block main %}

<h1> Welcome {{name}} !</h1> <br> 
<hr>
<h2> Show Available Tickets </h2> <br><br>
<form action="/show_available_tickts" method="post">
	<label> Select Start Time </label>
	<input type="datetime-local" name="start_time_forShowing"/> <br><br>
	<input type="submit" value="Show all Matches that have available tickets starting from that time">
</form>

<hr>

<h2> Purchase Ticket </h2> <br><br>
<form action="/Purchase_Ticket" method="post">
	<label> Select Host Name </label>
	<select name="host name" required >
		{% for name in club_names1 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Select Guest Name </label>
	<select name="guest name" required >
		{% for name in club_names2 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Select Match Start Time </label>
	<input type="datetime-local" name="start_time"/> <br><br>
	<input type="submit" value="Purchase a Ticket !">
</form>
<hr>

{% endblock %}