
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Fan
{% endblock %}

{% block main %}

<h1> Welcome, {{session['username']}} !</h1> <br> 
<hr>
<h2> View Available Matches  </h2> <br><br>
<form action="/view_all_matches_that_have_tickets_starting_at_a_given_time" method="post">
	<label> Select Time </label>
	<input type="datetime-local" name="m_start_time" required/> <br><br>
	<input type="submit" value="View All Matches That Have Tickets Starting at That Time">
</form> <br> 
<hr>

<h2> Purchase Ticket </h2> <br><br>
<form action="/Purchase_Ticket" method="post">
	<label> Select Host Name </label>
	<select name="host name" required >
		{% for name in club_names1 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Select Guest Name </label>
	<select name="guest name" required >
		{% for name in club_names2 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Select Match Start Time </label>
	<input type="datetime-local" name="start_time" required/> <br><br>
	<input type="submit" value="Purchase a Ticket !">
</form>
<hr>



{% endblock %}