<!doctype html>

{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
		<h2>{{ message }}</h2>
	{% endfor %}
{% endif %}
{% endwith %}

<h1> System Admin </h1>

<h2> Add a new club using its name and location </h2>
<form action="/clubs/add" method="post">
	<label> Name </label>
	<input type="text" name="name"/> <br>

	<label> Location </label>
	<input type="text" name="location"/> <br>

	<input type="submit" value="Add Club">
</form>
<hr>

<h2>Delete a club using its name</h2>

<form action="/clubs/delete" method="post">
	<label> Name </label>
	<input type="text" name="name"/> <br>

	<input type="submit" value="Delete Club">
</form>
<hr>