{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <br>

    {% if logMes %}
        <h6 style="color: rgb(197, 0, 0);"> <span class="red">{{ logMes }}</span></h3>
    {% endif %}

    <br>
    <h1 class="display-3">OR</h1> <br>
    <a class="display-6" href="/register">REGISTER</a>

{% endblock %}