
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Register Club Representative
{% endblock %}

{% block main %}
<h1>Club Representative Registration</h1><br><br>
<form action="/Register_Club_Representative" method="post">
    
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required><br>
    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required><br>
    <input class="form-control mx-auto w-auto"  name="Full Name" placeholder="Full Name" type="text" required><br>

    <label for="language">Choose a Club to Represent</label>
    <select name="Represented Club" id="language">
      {% for name in names %}
        <option value="{{name}}">{{name}}</option>
      {% endfor %}
    </select><br><br>

    <button class="btn btn-primary" type="submit">Register</button> <br> <br>

</form>
<br><br>




{% endblock %}