
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Register System Admin
{% endblock %}

{% block main %}
<h1>System Admin Registration</h1><br><br>
<form action="/register_system_admin" method="post">
    
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="*Username" type="text" maxlength="20" required style="font-size: medium;"><br>
    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="*Password" type="password" maxlength="20" required style="font-size: medium;"><br>
    <input class="form-control mx-auto w-auto" name="Full Name" placeholder="*Full Name" type="text" maxlength="20" required style="font-size: medium;"><br><br>
    <button class="btn btn-primary" type="submit">Register</button> <br> <br>

</form>
<br><br>




{% endblock %}