
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Choose Role
{% endblock %}

{% block main %}
<h1> Register as.... ?</h1><br><br>
<div class="btn-holder">
<!-- <button onclick="location.href = '/register_system_admin';" class="btn btn-primary" > System Admin </button><br><br> -->
<button onclick="location.href = '/register_sports_association_manager';" class="btn btn-2 hover-slide-down" ><span> Sports Association Manager </span></button><br><br>
<button onclick="location.href = '/register_club_representative';" class="btn btn-2 hover-slide-down" ><span> Club Representative </span></button><br><br>
<button onclick="location.href = '/register_stadium_manager';" class="btn btn-2 hover-slide-up" ><span> Stadium Manager </span></button><br><br>
<button onclick="location.href = '/register_fan';" class="btn btn-2 hover-slide-up" ><span> Fan </span></button><br><br>
</div>

<link rel="stylesheet" href="/static/buttonsyles.css">

{% endblock %}