
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Choose Role
{% endblock %}

{% block main %}
<h1> Register as.... ?</h1><br><br>
<button onclick="location.href = '/Register_System_Admin';" class="btn btn-primary" > System Admin </button><br><br>
<button onclick="location.href = '/Register_Sports_Association_Manager';" class="btn btn-primary" > Sports Association Manager </button><br><br>
<button onclick="location.href = '/Register_Club_Representative';" class="btn btn-primary" > Club Representative </button><br><br>
<button onclick="location.href = '/Register_Stadium_Manager';" class="btn btn-primary" > Stadium Manager </button><br><br>
<button onclick="location.href = '/Register_Fan';" class="btn btn-primary" > Fan </button><br><br>

{% endblock %}