
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Sports Association Manager
{% endblock %}

{% block main %}

<h1> Welcome, {{session['username']}} ! </h1> <!-- admin_name is passed from regestraition page-->

<hr>

<h2> Add Match </h2> <br><br>
<form action="/add_match" method="post">
	<label> Choose a Club To Host </label>
	<select name="added host" required >
		{% for name in club_names1 %}
		  <option value='{{name.club_id}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Choose a Club To Guest </label>
	<select name="added Guest" required >
		{% for name in club_names2 %}
		  <option value='{{name.club_id}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
	<label> Start Time </label>
	<input onchange="validateDate()" id= "start_time" type="datetime-local" name="New_Match_Start_Time" required/> <br><br>
    <label> End Time </label>
	<input onchange="validateDate()" id= "end_time" type="datetime-local" name="New_Match_End_Time" required /> <br><br>
	<input type="submit" value="Add Match">
</form>

<hr>

<<h2> Delete Match </h2> <br><br>
<form action="/delete_match" method="post">
	<label> Host Name </label>
	<select name="deleted host" required >
		{% for name in club_names3 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
    <label> Guest Name </label>
	<select name="deleted guest" required >
		{% for name in club_names4 %}
		  <option value='{{name.name}}'>{{name.name}}</option>
		{% endfor %}
	  </select><br><br>
	<label> Start Time </label>
	<input  type="datetime-local" name="Deleted_Match_Start_Time" required/> <br><br>
    <label> End Time </label>
	<input type="datetime-local" name="Deleted_Match_End_Time"/ required> <br><br>
	<input type="submit" value="Delete Match">
</form>

<hr>

<button onclick="location.href = '/all_upcoming_matches';" class="btn btn-secondary ml-3"> Show all upcoming matches </button><br><br>

<button onclick="location.href = '/already_played_matches';" class="btn btn-secondary ml-3"> Show already played matches </button><br><br>

<button onclick="location.href = '/pairs_never_matched';" class="btn btn-secondary ml-3"> Show paira of clubs who never competed </button>


<hr>

<script>
	function validateDate(){
	  var start_time = new Date(document.getElementById("start_time").value);
	  var end_time = new Date(document.getElementById("end_time").value);
	  var current_date = new Date();

	  if(current_date - start_time > 59999){
		 alert("lets go to the past and play the match , BALABIZO ! :)");
		 document.getElementById("start_time").value = null;
	  }
	  else if(end_time < start_time){
		alert("Such a cool match that will end before it starts ! :)");
		document.getElementById("end_time").value = null;

	  }
	  else if(end_time - start_time <= 59999){
		alert("you made Physics Sad , running and movement with no time ? )");
		document.getElementById("end_time").value = null;

	  }
	}
</script>



{% endblock %}