
<!DOCTYPE html>


{% extends "layout.html" %}

{% block title %}
    Your Title
{% endblock %}

{% block main %}

<h1> Welcome (Sports Association Manager name )! {{ assoc_manager_name }} </h1> <!-- admin_name is passed from regestraition page-->

<hr>

<h2> Add Match </h2> <br><br>
<form action="/AddMatch" method="post">
	<label> Host Name </label>
	<input type="text" name="New_Match_Host_club_name"/> <br><br>
    <label> Guest Name </label>
	<input type="text" name="New_Match__club_name"/> <br><br>
	<label> Start Time </label>
	<input type="datetime-local" name="New_Match_Start_Time"/> <br><br>
    <label> End Time </label>
	<input type="datetime-local" name="New_Match_End_Time"/> <br><br>
	<input type="submit" value="Add Match">
</form>

<hr>

<<h2> Delete Match </h2> <br><br>
<form action="/DeleteMatch" method="post">
	<label> Host Name </label>
	<input type="text" name="Deleted_Match_Host_club_name"/> <br><br>
    <label> Guest Name </label>
	<input type="text" name="Deleted_Match_Guest_club_name"/> <br><br>
	<label> Start Time </label>
	<input type="datetime-local" name="Deleted_Match_Start_Time"/> <br><br>
    <label> End Time </label>
	<input type="datetime-local" name="Deleted_Match_Host_End_Time"/> <br><br>
	<input type="submit" value="Delete Match">
</form>

<hr>

<button onclick="location.href = '/allUpcomingMatches';" class="btn btn-secondary ml-3"> Show all upcoming matches </button><br><br>

<button onclick="location.href = '/alreadyPlayedMatches';" class="btn btn-secondary ml-3"> Show already played matches </button><br><br>

<button onclick="location.href = '/PairsNerverMatched';" class="btn btn-secondary ml-3"> Show paira of clubs who never competed </button>







{% endblock %}